DB_URL=jdbc:postgresql://localhost:5432/mydb
DB_USER=your_user
DB_PASSWORD=your_password
DB_DRIVER=your_driver
DB_PLATFORM=your_platform

RABBITMQ_HOST=your_host
RABBITMQ_PORT=your_port
RABBITMQ_USERNAME=your_user
RABBITMQ_PASSWORD=your_password

JWT_PUBLIC_KEY_PATH=your_public_key
JWT_PRIVATE_KEY_PATH=your_private_key
JWT_ALG=your_alg
JWT_EXPIRATION_TIME=your_exp_time

SPRING_PROFILES_ACTIVE=profile_name # local, production